# Core
ENV=development
PORT=5000
HOST=localhost
DEFAULT_VERSION=1

MIN_QUERY_LENGTH=<replace-or-leave-empty-to-use-default>
MAX_QUERY_LENGTH=<replace-or-leave-empty-to-use-default>
IS_QUERY_TRUNCATION_ENABLED=<replace-or-leave-empty-to-use-default>
MIN_DOCUMENT_CONTENT_LENGTH=<replace-or-leave-empty-to-use-default>
MAX_DOCUMENT_CONTENT_LENGTH=<replace-or-leave-empty-to-use-default>
MAX_CHATS_PER_USER=<replace-or-leave-empty-to-use-default>

# Database
DATABASE_URL=postgresql+asyncpg://ask_docu_mind:secret@localhost:5432/ask_docu_mind_postgres # Same as the docker-compose
DB_POOL_SIZE=<replace-or-leave-empty-to-use-default>
DB_MAX_OVERFLOW=<replace-or-leave-empty-to-use-default>
DB_POOL_TIMEOUT_SECS=<replace-or-leave-empty-to-use-default>
DB_ECHO=False

# Auth
USER_SESSION_SECRET=anon-session-secret-change-me
ANON_SESSION_COOKIE_SAMESITE=none
ANON_SESSION_COOKIE_DOMAIN=none

# Anonymous User Session
USER_CLEANUP_ENABLED=True
USER_CLEANUP_BATCH_SIZE=200
USER_CLEANUP_INTERVAL_HOURS=2
USER_TTL_HOURS=1

# File Processing
MAX_FILE_SIZE_MB=0.5
MAX_FILES_PER_CHAT_MB=2

# LLM & OpenAI
OPENAI_LLM_MODEL_NAME=<replace>
OPENAI_EMBEDDING_MODEL_NAME=<replace>
LLM_TEMPERATURE=0.7
RESPONSE_PROMPT_FILEPATH=<replace-or-leave-empty-to-use-default>
OPENAI_API_KEY=<replace>

# Vector Processing
CHUNK_SIZE=<replace-or-leave-empty-to-use-default>
CHUNK_OVERLAP=<replace-or-leave-empty-to-use-default>
RETRIEVAL_TOP_K=5
SIMILARITY_THRESHOLD=0.4

# Web Search
IS_WEB_SEARCH_ENABLED=False
SEARCH_API_KEY=<replace-with-your-key>
SEARCH_ENGINE_ID=<replace-with-your-engine-id>
MAX_WEB_SEARCH_RESULTS=<replace-or-leave-empty-to-use-default>
WEB_REQUEST_TIMEOUT_SECS=<replace-or-leave-empty-to-use-default>

# Logging
LOG_LEVEL=DEBUG
LOG_TO=FILE
LOG_AS_JSON=False
LOG_MAX_MB=<replace-or-leave-empty-to-use-default>

# Server
WORKERS=<replace-or-leave-empty-to-use-default>
CORS_ORIGINS=<replace>
RATE_LIMIT_REQUESTS=<replace-or-leave-empty-to-use-default>
RATE_LIMIT_WINDOW=<replace-or-leave-empty-to-use-default>
MAX_CHAT_QUERIES_PER_MINUTE=<replace-or-leave-empty-to-use-default>